body {
    width: 100%;
    background: #c4c4c4;
}

.container {
    width: 900px;
    height: 900px;
    margin: 50% auto;
}
.menu-2{
    width:300px;
    height:auto;
    margin:0 auto;
}

.input{
display:block;
width:50px;
height:80px;
top:-7px;
left:-5px;
cursor: pointer;
-webkit-touch-callout: none;
opacity:0;
z-index: 2;
}
.input:checked ~ span , .hidden{
opacity: 1;
  transform: rotate(90deg) translate(-70px, -1px);
}
.hidden{
    opacity: 1;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.menu-span{
    display:flex;
    width:50px;
    height:8px;
    margin-bottom: 5px;
    background-color:rgb(114, 54, 54);
    z-index: 0;position:relative;
   transform: translate(5px, -60px);


}
.menu-span:nth-last-child(1){
    transform-origin: 50% 0%;
    transform: rotate(180deg);
    background-color: #ff0b0b;
    transform: translate(5px, -60px);



}.menu-span:nth-last-child(2){
    transform-origin: 52% 150%;
    

}.menu-span:nth-last-child(3){
    transform-origin: 15% 50%;

}.menu-span:nth-last-child(4){
    transform: rotate(180deg);
    transform: translate(5px, -60px);

}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #a04343;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 90% 100%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 80% 50%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(90deg) translate(-2px, -1px);
  background: #744010;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 1;
  transform: rotate(90deg) scale(0,0);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-90deg) translate(10, 0);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: red;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}
