/*
website: Personal
Kawcode
2021
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/*---- All things -----*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    color: #304556;

}

a {
    outline: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

*:focus {
    outline: 0;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #3a6179;
    padding: 10px;
}

::selection {
    color: #fff;
    background: #3a6179;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
label,
button,
p {
    font-weight: normal;
    font-style: normal;
    list-style: none;
}

/*--------------------*/

body {
    width: 100%;
    background: #EAEAEA;
    margin: 0 auto;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: 'Noto Sans', sans-serif;

}

header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #304556;
}

.header__top {
    width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.header__top h2 {
    color: #EAEAEA;
    font-size: 22px;
    flex: 1 auto;
    -webkit-flex: 1 0px;
    -webkit-order: 1;
    order: 1;
    text-align: left;
}

/* social */
.Header__social {
    flex: 1 0px;
    -webkit-flex: 1 0px;
    -webkit-order: 2;
    order: 2;
    display: flex;
    height: auto;
    justify-content: flex-end
}

.Header__social a {
    margin-left: 15px;
}

.Header__social a img {
    width: 30px
}

.head {
    width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    align-self: center;
}

.menu__link {
    color: #999999;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    border-bottom: 3px #EAEAEA solid;
}

.menu__link:last-child {
    margin-right: -10px;
}

.menu__link:hover {
    border-bottom: 3px #9999 solid;
    transition-delay: .1s;
}

.slider {
    width: 950px;
    height: 380px;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    background: url(images/HHH-image.png) no-repeat right center;
}

.slider__text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: baseline;
    text-align: left;
}

.slider__text-h3 {
    font-size: 2.3rem;
    font-weight: bold;
    color: #304556;
    text-shadow: 2px -1px 2px #36C1CF;
}

.slider__text-p {
    letter-spacing: 4.9px;
    font-size: 1.3rem;
    color: #231F20;
    margin-top: 10px;
}

.slider__text-button {
    all: unset;
    transition: .1s;
    font-size: 1.5rem;
    padding: 8px 36px;
    font-family: 'Noto Sans', sans-serif;
    color: #EAEAEA;
    background: #F37989;
    margin-top: 20px;
}

.slider__text-button:hover {
    cursor: pointer;
    background: #ce574e;
}

.slider__text-button:active {
    background: #c72d54;
}

.material-icons {
    color: #EAEAEA;
}

.big__menu {
    width: 100%;
    background: #36C1CF;
    padding: 0;
}

.big__menu-center {
    width: 950px;
    padding: 10px 0;
    overflow: hidden;
    margin: 0 auto;
}

.big__menu-div {
    width: 960px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -5px;
    /* negative margin */
}

.big__menu-div .box {
    width: 310px;
    padding: 10px;
    margin: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: space-between;
}

.big__menu-div .box p {
    font-size: 1.5em;
    color: #EAEAEA;
    text-align: left;
    padding: 25px 10px;
}

.big__menu-div .box:nth-child(1) {
    background: url(images/finance.svg) no-repeat right center #304556;
}

.big__menu-div .box:nth-child(2) {
    background: url(images/person-icon.svg) no-repeat right center #304556;
}

.big__menu-div .box:nth-child(3) {
    background: url(images/info-icon.svg) no-repeat right center #304556;
}


.big__menu-div .box a {
    font-size: 1em;
    color: #EAEAEA;
    padding: 2px 18px;
    background: #06AA9F;
    transition: 0.3s;

}

.big__menu-div .box a:hover {
    background: #157771;
    transition: 0.3s;
}

/* .big__menu-div .box a::after{
    content:'\25BA';
} */

.pretext {
    width: 950px;
    margin: 50px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

.pretext__h4 {
    font-size: 2.5em;
    color: #304556;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px #3BC1CF solid;
}

.pretext__p {
    font-size: 1.1em;
    text-align: center;
    margin: 10px 0;
}

.pretext__p:hover {
    color: #44627a;

}

.subject__more {
    width: 950px;
    height: auto;
    padding: 30px 0;
    overflow: hidden;
    margin: 0 auto;
}

.colnew {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -5px;
    /* negative margin */
}

.subject__more-div {
    width: 310px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    flex-flow: column;
    margin: 5px;
    overflow: auto;

}

.subject__more-div-a-p {
    font-size: 1.1rem;
    margin-top: 15px;
}

.subject__more-div-a-p:hover {
    color: #44627a;
    text-decoration: underline;
}

.subject__more-div img {
    width: 100%;
    height: auto;
    display: block;
    background: url(/images/HHH-bg-png.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 100%;
    background-position: center;
    transition: 0.2s
}

.subject__more-div img:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
    transition: 0.2s
}

footer {
    background: #4d7a96;
    padding: 10px 0;
}

footer .footer {
    width: 950px;
    margin: 20px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
}

footer .footer__menu {
    flex: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

footer .footer__menu-div {
    display: block;
    margin-right: 20px;
}

footer .footer__menu-div a {
    font-size: 1em;
    margin: 20px 0;
    display: block;
    color: #EAEAEA;
    border-bottom: 2px solid #4d7a96;
}

footer .footer__menu-div a:hover {
    border-bottom: 2px solid #2c414e;
    transform: translateY(-.2em);
}

footer .address {
    flex: 1;
    margin: 10px 0;
    color: #EAEAEA;
    font-family: 'Noto Sans', sans-serif;
}

.section {
    width: 100%;
    height: auto;
    background: #3a6179;
    color: #EAEAEA;
    font-size: .8em;
    margin: 0 auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.section div {
    width: 950px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: space-between;
}

.section h5 {
    flex: 1 auto;
    -webkit-flex: 1 0px;
    -webkit-order: 2;
    order: 1;
    height: auto;
    color: #EAEAEA;
    font-size: 1.2em;
    margin: 0 auto;
}

.section a {
    flex: 1 auto;
    -webkit-flex: 1 0px;
    -webkit-order: 2;
    order: 2;
    height: auto;
    text-align: right;
    color: #03AA9F;
}

/* einde eerste pagina  (1) */


.contact {
    width: 950px;
    margin: 50px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.contact__img {
    width: 100%;
    height: auto;
    display: block;
}

.contact-text {
    width: 950px;
    margin: 30px 0;
}

.contact-text p {
    font-size: 1em;
}

/*Contact*/
.contact__form {
    width: 950px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.contact__form-all {
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 10px 0;
    margin: 0;
}

.contact__form input {
    all: unset;
    width: 290px;
    background: #F7F7F7;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px #D8D8D8;
    color: #777777;
    font-size: 1rem;
    padding: 10px 10px;
}

.contact__form label {
    color: #8E8E8E;
    font-size: 1rem;
}

.contact__form-button {
    all: unset;
    width: 140px;
    font-size: 1.5rem;
    padding: 2px 5px;
    color: #EAEAEA;
    background: #F37989;
    border-radius: 2px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.contact__form-button:hover {
    background: #ce574e;

    cursor: pointer;
}

.contact__form-button:active {
    background: #c72d54;
}


.more {
    width: 950px;
    margin: 80px auto;
}

.more-details {
    flex: 1;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.more-text {
    flex: 3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    font-size: 1.2rem;
    text-align: justify;
}

.more-text h3 {
    font-size: 1.6em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-text-img {
    width: 100%;
    height: auto;
    display: block;
    background: url(/images/HHH-bg-png.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 100%;
    background-position: center;
}

.more__aside {
    flex: 1;
    border-left: 1px #c9c9c9 solid;
    margin-left: 10px;
    font-size: 1.2rem;

}

.more__aside h3 {
    margin-left: 10px;
    border-bottom: 1px #c9c9c9 solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.more__aside a {
    padding-left: 10px;
    margin:20px 0;
    display: flex;

}

.more__aside a:hover {
    color: #44627a;
    text-decoration: underline;
}

.more__aside a:before {
    content: '';
    width: 50px;
    height: 10px;
    background: #F37989;
    margin-top: 10px;
    margin-right: 10px;
}


/* About */
.about {
    width: 950px;
    margin: 50px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.about__img {
    width: 100%;
    height: auto;
    display: block;
    background: url(/images/HHH-bg-png.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 100%;
    background-position: center;
}

.about-text {
    margin: 30px 0;
    font-size: 1.2rem;
    text-align: justify;
}